.active-button{
    background-color: rgba(187, 30, 30, 0.1);
    color: #BB1E1E;
}

.view-more{
    color: #BB1E1E;
    font-size: 14px;
    text-decoration: none;
    display: table;
    width: 200px;
    padding: 10px;
}

.little-star{
    margin-left: -21px;
    margin-bottom: -13px;
}

.active-star{
    color:yellow;
}

@media (max-width: 767px) {
    .news {
        display: none;
    }
}

@media (min-width: 768px) {
    .featured{
        display: none;
    }
    .latest{
        display: none;
    }
}
